:root {
    --black-deep: #060416;
    --purple-dark: #130C49;
    --purple-mid: #1F137D;
    --purple-strong: #5C21C3;
    --purple-soft: #874AD7;
}

body {
    background: var(--black-deep);
    color: white;
    font-family: "Poppins", sans-serif;
}

.main-card {
    background: var(--purple-dark);
    border-radius: 12px;
}

.detail-card {
    background: var(--purple-mid);
    border-radius: 10px;
    color: white;
}

.detail-card h4 {
    color: var(--purple-soft);
}

.doc-img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--purple-soft);
}

.action-btn {
    margin: 10px;
    padding: 12px 25px;
    font-size: 17px;
    font-weight: bold;
}

/* Modal personalizado */
.modal-custom {
    background: var(--purple-mid);
    color: white;
    border-radius: 10px;
}

.modal-header {
    border-bottom: 1px solid var(--purple-dark);
}

.modal-footer {
    border-top: 1px solid var(--purple-dark);
}
