   /*css*/
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #ffffff;
    }

    /* Barra superior */
    .top-header {
        background: #7441c2;
        padding: 15px 40px;
    }

    .menu {
        color: white;
        font-size: 28px; /* AUMENTEI O TAMANHO */
        font-weight: bold;
    }

    /* Barra inferior */
    .sub-header {
        background: #3d0051;
        padding: 12px 40px;
        color: white;
        font-weight: bold;
    }

    /* Botões do menu inferior */
    .menu-btn {
        background: transparent;
        color: white;
        border: none;
        padding: 8px 18px;
        border-radius: 6px;
        font-weight: bold;
        transition: 0.2s;
    }

    .menu-btn:hover {
        background: #8b57d9;
        color: white;
        cursor: pointer;
    }

    /* Busca */
    .search {
        background: white;
        padding: 5px 15px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        width: 300px;
    }

    .search input {
        border: none;
        outline: none;
        width: 100%;
    }

    /* Avatar */
    .avatar {
        background: #3d0051;
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    h1 {
        text-align: center;
        margin-top: 40px;
        font-size: 32px;
        color: #4c148c;
    }

    .col-header {
        background: #8b57d9;
        color: white;
        font-size: 22px;
        padding: 12px;
        border-radius: 6px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }

    .dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }

    .red { background: #ff3c3c; }
    .yellow { background: #ffc400; }
    .green { background: #00d12d; }

    .card-custom {
        background: #e8d9fa;
        padding: 12px;
        border-radius: 6px;
        min-height: 60px;
    }

    /* Painel lateral */
    .side-box {
        background: #e9ffd9;
        border-radius: 6px;
        padding: 20px;
    }

    .side-title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }

    .doc {
        width: 60px;
        height: 70px;
        border: 2px solid black;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        font-size: 10px;
    }