/* ---------------------- */
/*   ESTILO DO FUNDO      */
/* ---------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(270deg, #b89bee, #774cb4, #5e3ea1);
  background-size: 600% 600%;
  animation: gradientAnim 12s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradientAnim {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* ---------------------- */
/*     CARD PADRÃO        */
/* ---------------------- */
.center-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-box {
  background: #ffffff;
  width: 470px;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.2);
  text-align: center;
  animation: aparecer 0.8s ease;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  color: #5e3ea1;
}

p {
  font-size: 14px;
  color: #666;
  margin: 10px 0 20px 0;
}

/* ---------------------- */
/*      INPUTS            */
/* ---------------------- */
input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 15px;
  font-size: 14px;
}

input:focus {
  border-color: #6f42c1;
  box-shadow: 0 0 5px rgba(111,66,193,0.3);
}

/* Linhas duplas */
.linha {
  display: flex;
  gap: 15px;
}

/* ---------------------- */
/*   BOTÕES DE UPLOAD     */
/* ---------------------- */
.upload-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.upload-btn {
  width: 32%;
  background: #5e3ea1;
  border: none;
  border-radius: 12px;
  padding: 18px 0;
  color: white;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

/* ---------------------- */
/* BOTÃO PRINCIPAL        */
/* ---------------------- */
.btn-principal {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #5e3ea1, #8e5ad7);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 12px;
  margin-top: 25px;
  cursor: pointer;
}

.btn-principal:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
