<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastro do Especialista</title>
    <link rel="stylesheet" href="css/tela_cad_especialista.css">
</head>

<body>

    <div class="center-wrapper">

        <div class="card-box">

            <img src="img/logo_especialis.jpeg" class="logo" />

            <h1>Seja o nosso Especialista</h1>
            <p>Preencha seus dados para continuar</p>

            <form>

                <input type="text" placeholder="Nome completo" />

                <div class="linha">
                    <input type="text" placeholder="RG" />
                    <input type="text" placeholder="CPF" />
                </div>

                <div class="linha">
                    <input type="text" placeholder="Telefone" />
                    <input type="text" placeholder="Celular" />
                </div>

                <input type="email" placeholder="E-mail" />

                <input type="password" placeholder="Senha" />

                <div class="upload-container">
                    <button class="upload-btn">+<br> envie sua documentação pessoal</button>
                    <button class="upload-btn">+<br> envie sua certificação</button>
                    <button class="upload-btn">+<br> envie seu cartão profissional</button>
                </div>

                <button class="btn-principal">Cadastrar</button>

            </form>
        </div>

    </div>

</body>

</html>